In [1]:
#Zwei Möglichkeiten eine Menge zu definieren
A = {1,2,3,42}
B = set((1,3,3,2,42))
A == B

True

In [2]:
B

{1, 2, 3, 42}

In [3]:
3 in A, 4 in A

(True, False)

In [4]:
len(A)

4

In [5]:
len({1,1,1,1,1,1,2,3,4}) #Menge

4

In [6]:
len([1,1,1,1,1,1,2,3,4]) #Liste

9

In [7]:
{1,2,4} == {1,2,3,4}

False

In [8]:
def subset(A, B):
    for a in A:
        if a not in B:
            return False
    return True

In [9]:
subset({1,2,4}, {1,2,3,4})

True

In [10]:
def realsubset(A, B): #echte Teilmenge
    for a in A:
        if a not in B:
            return False
    return (len(A) != len(B))

In [11]:
realsubset({1,2,4}, {1,2,3,4})

True

In [12]:
realsubset({1,2,3,4}, {1,2,3,4})

False

In [13]:
subset(set(), {1,2})

True

In [14]:
#natürlichen Zahlen kleiner 42 und nicht durch 3 teilbar
A = set(range(42))
D = set()
A, D
for n in A:
    if n % 3 != 0:
        D.add(n)
D

{1,
 2,
 4,
 5,
 7,
 8,
 10,
 11,
 13,
 14,
 16,
 17,
 19,
 20,
 22,
 23,
 25,
 26,
 28,
 29,
 31,
 32,
 34,
 35,
 37,
 38,
 40,
 41}

In [15]:
#x ist prim und ir quadrat ist kleiner als 10000
import sympy
x = set()
for n in range(2, 101): #100**2 = 10000
    if sympy.isprime(n) and n * n < 10000:
        x.add(n)

In [16]:
x

{2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97}

In [17]:
D = {n ** 2 for n in A if n ** 2 < 500}  #"for" ist gleichgültig mit Doppelpunkt

In [18]:
D

{0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484}

In [25]:
#Mengen mit 2 Parametern
from fractions import Fraction
Y = {1,2,5}
Z = {3,7,9,11}
X = set()
for n in B:
    for d in C:
        X.add(Fraction(n,d))

In [26]:
X

{Fraction(1, 11),
 Fraction(1, 9),
 Fraction(1, 7),
 Fraction(2, 11),
 Fraction(2, 9),
 Fraction(2, 7),
 Fraction(1, 3),
 Fraction(5, 11),
 Fraction(5, 9),
 Fraction(2, 3),
 Fraction(5, 7),
 Fraction(5, 3)}

In [23]:
Fraction(1,2) * Fraction(2,1)

Fraction(1, 1)